section {
    padding: 0 20px;
}
body { 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}
.content{
    width: auto;
}

.narrowbox {
    margin: 55px auto;
    width: 355px;
}
.target{
    font-size: 100%;
    /* take .3 seconds to perform transform with slow start and slow down */
    transition: all 300ms ease-in-out; 
}
.target:hover{
    /* rotate 180 degrees by Y axis and enlarge by 1.7 factor*/
    transform: rotate3d(0, 1, 0, 180deg) scale(1.7); 
}
.head {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 13px;
    line-height: 1.3em;
}
.heading {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
}
.subhead{
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    line-height: 1.3em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.topbox {
    background: url(../assets/topbackground.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #ffffff;
}
.main{
    padding-top: 66px;
    padding-bottom: 104px;
    margin: 0 auto;
    background-color: rgba(238, 238, 238, 1);
}
.bottombox {
    background: url(../assets/bottombackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.bottombox:before {
    background: rgba(140, 79, 42, 0.3);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}

.toggle {
    display: none;
    font-size: 32px;
}
.col-two {
    width: 415px;
}
.even {
    justify-content: space-evenly;
}

.headline {
    margin: 210px auto 255px auto;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    font-size: 18px;
    color: #FFFFFF;
    width: 90%;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.nav-item {
    align-self: stretch;
    flex: auto;
}
.nav-head {
    font-size: 24px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
li {
    list-style-type: none;
}
.footer{
    background: #464547;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 12%;
    padding-right: 12%;
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.col-space{
    padding-bottom: 27px;
    font-style: italic;
}
.address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright {
    align-self: flex-end;
    text-align: right;
}
.project{
    color: #FFFFFF;
}
.small-logo {
    vertical-align:middle;
    margin-right: .5em;
}
.wrap {
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    align-items: flex-start;
    justify-content: space-between;
    width: 900px;
    margin: 45px auto;
}
.button {
    background-color: #55C2D8;
    font-family: 'Oswald', sans-serif;
    border: none;
    color: white;
    width: 115px;
    height: 36px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.margin-btn {
    margin-top: 51px;
    transition: all 300ms ease-out; /* 0.3 seconds for transition with slow-down*/
}
.margin-btn:hover {
    /* rotate 10 degrees clockwise and move 3px left, 6 px down. 
    rotate with transform-origin made block jump after rotation;*/
    transform: matrix(0.98, 0.17, -0.17, 0.98, -3, 6);
}
  .button-big {
    font-size: 68px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    padding-left: 20px;
    margin-top: 63px;
    fill: white;
    transition: all 100ms;
  }
  .button-big:hover{
      /* invert colors svg fill and block background */
    background-color: white;
    fill: #55C2D8 ;
    height: 140px;
    width: 140px;
    margin-top: 68px;
  }
  
@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
    .col-two {
        width: 100%;
        margin-bottom: 24px;
    }
    .wrap {
        flex-direction: column;
        align-items: center;
        width: auto;
        
    }
    .footer{
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    .col-space{
        margin-top: 18px;
        margin-left: auto;
        margin-right: auto;
    }
    .toggle {
        align-self: flex-end;
        display: initial;
        text-align: right;
    }
    br {
        display: none;
    }
    .copyright {
        text-align: center;
        align-self: center;
    }
}
